@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .container {
    @apply bg-gray-100 dark:bg-zinc-900 w-[95%] md:w-[85%] mx-auto px-[20px] md:px-[50px];
  }
}